<div class="row Message__form">
  <%= form_for(@message, url: { controller: "messages", action: "create"}, html: { id: "message_form"}) do |f| %>
  <%= f.hidden_field :contract_id %>
  <div class="col s9 m11 l10">
    <%= f.text_field :body, id: "message_field" , class:"materialize-textarea"%>
  </div>
  <div class="col s3 m1 l1">
    <%= button_tag( :class => "message--btn btn") do %>
    <i class="material-icons">send</i>
    <% end %>
  </div>
  <% end %>
</div>
