<% if @contracts == nil %>
<div class="row">
  <div class="col s12 m12 l12 Search_course valign-wrapper">
    <div class="valign center">
        <h3>まだやり取りはありません。</h3>
        <h5>出品又は購入しませんか？</h5>
        <input id="search_course_field2" type="text" class="validate" placeholder="出品/購入も授業名で検索">
        <div id="course_result2">
        </div>
    </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col s12 m12 l6">
    <h5>やり取りリスト</h5>
    <% @contracts.each do |contract| %>
    <div class="collection">
      <%= link_to contract_path(contract), class:"collection-item truncate" do %>
      <%= message_tag(contract) %>
      <%= status_tag(contract.item) %>
      <%= contract.item.name %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
