<div class="row">
  <div class="col l4">
    <h5>やり取りリスト</h5>
    <% @contracts.each do |contract| %>
    <div class="collection">
      <%= link_to contract_path(contract), class:"collection-item" do %>
      <%= message_tag(contract) %>
      <%= status_tag(contract.item) %>
      <%= contract.item.name %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
