<div class="row hide-on-med-and-up">
  <div class="col s12 m12 l12 Search_course z-depth-1 valign-wrapper">
     <div class="valign center Search_course__text_field__wrap">
      <p class="Home__logo--main">Potato</p>
      <p class="Home__logo--sub">教科書をもっと自由に</p>
      <ul class="search-list">
        <li>
          <%= link_to "買いたい",{controller: "home", action: "search", key: "buy"}, {class:"btn btn-large"}%>
          <%= form_tag  %>
        </li>
        <li>
          <%= link_to "売りたい", {controller: "home", action: "search", key: "sell" }, {class:"btn btn-large amber"}  %>
        </li>
      </ul>
    </div>
  </div>
</div>
