<div>
  <input id="search_course_field2" type="text" class="validate" placeholder="出品/購入も授業名で検索">
  <label for="search_course_field2"></label>
</div>
<div id="course_result2">
</div>
<% unless user_signed_in? %>
  <div class="valign center Home__login_btn">
    <div id="social-icon"class="clear">
      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <i class="fa fa-google fa-lg"></i>大学メールでログイン
      <% end %>
    </div>
  </div>
<% end %>
