<div class="row">
  <div class="col s12 m12 l12">
    <h4>使い方</h4>
    <h5 class="amber-text text-darken-1">１，授業名で検索</h5>
    <div>
      <%= image_tag 'search_btn.png' %>をクリックすると、詳細検索</br>
      <%= image_tag 'search_btn2.png' %>では授業名で検索することが可能です。
    </div>
    <h5 class="amber-text text-darken-1">２，出品か購入希望か選択</h5>
    <div>
      <%= image_tag 'item_btn.png' %>
      授業を見つけた後は、出品か購入希望どちらかを選択！
    </div>
    <h5 class="amber-text text-darken-1">３，購入する/ 譲る</h5>
    <div>
      気に入った教科書があれば購入！
    </div>
    <h5 class="amber-text text-darken-1">４，やり取りする。</h5>
      <%= image_tag 'Messages.png' %>
    <div>

    </div>
    <h5 class="amber-text text-darken-1">５，受け渡す</h5>
    手渡し、もしくは着払いでの郵送で受け渡しが可能です。
  </div>
</div>
