<ul class="search-list">
  <li>
    <%= link_to "買いたい",{controller: "home", action: "search", key: "buy"}, {class:"btn btn-large"}%>
    <%= form_tag  %>
  </li>
  <li>
    <%= link_to "売りたい", {controller: "home", action: "search", key: "sell" }, {class:"btn btn-large amber"}  %>
  </li>
</ul>
