<div class="row">
  <div class="col s12 m12 l12 search_fac">
    <div class="input-field">
      <%= collection_select(:search, :faculty_id, Faculty.all, :id, :name) %>
    </div>
    <p>から</p>
  </div>
  <div class="col s12 m12 l12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">授業名で</a></li>
      <li class="tab col s3"><a href="#test2">書名で</a></li>
      <li class="tab col s3"><a href="#test3">詳しく</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12"><%= render 'field_for_lesson' %></div>
  <div id="test2" class="col s12"><%= render 'field_for_book' %></div>
  <div id="test3" class="col s12"><%= render 'field_for_detail' %></div>
</div>
