<div class="valign center home__login_btn">
  <div id="social-icon"class="clear">
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <i class="fa fa-google fa-lg"></i>大学メールでログイン
    <% end %>
  </div>
</div>
