@import "common/fonts";
@import "common/color";
@import "common/media_queries";

@media #{$small-and-down} {
  html {
  font-size: 14px;
}
  .Form{
    %__label{
    }
  }
}

.search_fac{
  width: 200px;
  float: left;
}

.search_btn{
  float: right;
}
