<div class="row">
  <div class="col s12 m12 l12 Search_course z-depth-1 valign-wrapper">
    <div class="valign center Search_course__text_field__wrap input-field">
        <!-- <h1>Potato</h1> -->
        <p class="Home__logo--main">Potato</p>
        <p class="Home__logo--sub">教科書をもっと自由に</p>
        <input id="search_course_field2" type="text" class="validate hide-on-small-only" placeholder="出品/購入も授業名で検索">
        <div id="course_result2">
        </div>
        <% if user_signed_in? %>
        <% else %>
          <div class="valign center Home__login_btn">
            <div id="social-icon"class="clear">
              <%= link_to user_google_omniauth_authorize_path do %>
                <i class="fa fa-google fa-lg"></i>大学メールでログイン
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
