@import "materialize/components/color";
@import "materialize/components/normalize";

$primary-color: color( "amber", "darken-1") !default;
$secondary-color: color("gray", "darken-1") !default;
$link-color: color("light-blue", "darken-1") !default;
@import "materialize";
@import "common/*";
@import "module/*";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize/components/forms/forms";
@import "materialize/components/mixins";
@import "materialize/components/color";
@import "materialize/components/variables";
@import "items";
@import "courses";
@import "layout";
@import "messages";
@import "home";
@import "users";
@import "contracts";
