.course__show__item_show{
  margin-top: 20px;
  min-height: 400px;
  &__name{
    margin-top: 7px;
  }
  &--img{
    // background-color: red;
  }
  &--description{
    // background-color: blue;
    table{
      @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-top: 10px;
        font-size: 1.2em;
      }
      td{
        @include max-screen($breakpoint-mobile) {
          min-width: calc(100vw - 62px);
        }
      }
    }
  }
  &--link{
    a{
      float: right;
    }
  }
   &--list{
     @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-top: 10px;
        font-size: 1.4em;
      }
   }
}
.back_link{
  float: right;
  margin-right: 10px;
  @include max-screen($breakpoint-mobile) {
    width: 50%;
    font-size: 1em;
  }
}
.cource__name{
  margin:5px 0 ; 
}
