@import "common/color";

.Search_course{
  height: calc(100vh - 64px);
  background-color: white;
  padding: 0 0;
  input{
    width: 50%;
  }
  label{
    text-align: justify;
  }
  &__text_field{
    &__wrap{
      width: 100%;
    }
  }
}
#course_result2{
  a{
    color: #26a69a;
  }
}
