@import "common/color";

.Search_course{
  height: 100vh;
  padding: 0 0;
  color: white;
  background-color: $yellow;
  margin-top: -10px;
  input{
    width: 50%;
  }
  label{
    text-align: justify;
  }
  &__text_field{
    &__wrap{
      width: 100%;
      margin: 0px 12px;
    }
  }
}
#course_result2{
  a{
    color: #ffb300;
  }
  .chip{
    background-color: white;
    float:inherit;
  }
}

.search-list{
  text-align: center;
  margin-top: 30vh;
  .btn{
    width: 80vw;
  }
  li:nth-child(2){
    margin-top: 20px;
  }
}

#social-icon{
  display: inline-table;
}
#social-icon a {
  position: relative;
  display: block;
  float: left;
  width:200px;
  margin: 0 10px 10px 0;
  padding: 0 0 0 40px;
  background: #dd4b39;
  color: #fff;
  text-decoration: none;
  text-align:center;
  line-height: 40px;
}
#social-icon i {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  background: #c23321;
  line-height: 40px;
  text-align: center;
}
#social-icon i:before { padding: 0; line-height: 40px; }
#social-icon a:hover i { background: #c23321; }

.home__icons{
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    margin-top: 10px;
    font-size: 1.4em;
  }
}
.Home{
  &__logo{
    &--main{
      font-family:Roboto;
      font-weight: 200;
      font-size: 4.3rem;
      line-height: 110%;
      margin: 0;
    }
    &--sub{
      font-family: "Noto Sans Japanese";
      font-size: 1.45em;
      font-weight: 300;
      line-height: 110%;
      margin: 0.3rem 0 1.5rem 0;
    }
  }
  &__icons{
    text-align: center;
  }
  &__message{
    text-align: center;
  }
}

#home-search{
  background-color: transparent;
}

#Home__logo--sub--hu{
  color: black;
}

.search_fac > p{
  text-align: center;
  color: gray;
}
