// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_form{
  margin-top: -3px;
  height: 100vh;
  padding: 0 0;
  &__text_field{
    &__wrap{
      width: 100%;
      margin-top: -80px;
    }
  }
}
.sorry--link{
  position: relative;
  top: -75px;
}

.btn__logout{
  background-color: #d65f4c;
}

#user_modal{
  height: 80vh;
  h4 {
    text-align: center;
    font-size: 1.4em;
  }
  div.img{
    text-align: center;
  }
  .modal_close-u{
    padding: 10px;
  }
  .modal-content{
    padding-top: 0px;
  }
}
.user_icon img{
  width: 50px;
}
